<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Successful</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <div class="success-message">
        <h1>File Upload Successful!</h1>
        <a href="/" id="homeButton">Go Back to Homepage</a>
    </div>

    <!-- <script src="script.js"></script> -->
</body>
</html>
